body {
  font-size: 20px;
}
h1 {
  font-size: 2.2em;
  font-weight: 700;
  line-height: 1.1;
  padding-top: 16px;
  margin-bottom: 4px;
}

h2,
h3,
h4,
h5,
h6 {
  line-height: 1.5em;
  margin-top: 2.2em;
  margin-bottom: 4px;
}

h2 {
  font-size: 1.4em;
  margin: 40px 10px 20px 0;
  padding-left: 9px;
  border-left: 6px solid #e742b5;
  font-weight: 700;
  line-height: 1.4;
}

h3 {
  font-weight: 700;
  font-size: 1.2em;
  line-height: 1.4;
  margin: 10px 0 5px;
  padding-top: 10px;
}

p {
  text-align: justify;
}

ul {
  margin-left: 5px;
}

img {
  display: block;
  float: none;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  height: 250px;
}

a {
  color: #18bfdd;
  text-decoration: none;
}

a:hover {
  color: #f543b1;
  text-decoration: underline;
}

a:focus {
  outline-offset: -2px;
}

:not(pre):not(.hljs) > code {
  color: #0c9aec; /* Change the old color so it seems less like an error */
  font-size: inherit;
}
